@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 1em;
    padding: 1em 1em;
    border-radius: 12px;
}

.h1{
    font-family: "Outfit", sans-serif;
    color: #1f1f1f;
    font-size: 2em;
}

.categories {
    display: flex;
    align-items: center;
    height: 10%;
}

.typeTitle {
    font-size: 1em;
}

.select {
    height: 2.5em;
    background-color: #1f1f1f;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    width: 15em;
}

.detailContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -1em;
}

.inputContent {
    display: flex;
    flex-direction: column;
    height: 7em;
    padding-left: 1em;
}

.detail {
    font-size: .8em;
}

.input {
    border: 1px solid #2c2c2c23;
    border-radius: 8px;
    height: 2em;
    width: 15em;
}

.input:focus {
    outline: none;
}

.error {
    font-size: .7em;
    color: red;
}

.imageSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.inputSelect::-webkit-file-upload-button {
    height: 3em;
    background-color: #1f1f1f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.buttonCreate {
    height: 3em;
    width: 5em;
    background-color: #1f1f1f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.containerImages{
    display: flex;
}

.imageContainer{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.img{
    object-fit: contain;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: .5em;
}

.buttonDelete{
    position: absolute;
    height: 1.7em;
    width: 1.7em;
    background-color: rgb(211, 46, 46);
    color: #fff;
    border: none;
    cursor: pointer;
}
