.containerView{
    

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        
        margin: 5em 0;
        /* height: 100vh; */
        /* width: 100vw; */
        /* background: linear-gradient(to bottom, #ffffff 30%, #6d6d6d62 100%); */
width: 100vw;
height: 100vh;
background-color: transparent
}

.view{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 70vw;
        height: 80vh;
        /* background-color: brown; */

}
.image{
        position: absolute;
        width: 150px;
        border-radius: 100%;
        border: 5px solid rgb(44, 197, 44);
        margin-top: -500px;
}