.container{
    display: flex;
    background-color: #1f1f1f;
}

.navContent{
    margin-right: 2em;
}

.sideNavContent{
    min-width: 17vw;
}

.mainContent{
    display: flex;
    flex-grow: 1;
    margin-right: 2em;
    min-height: 85vh;
    background-color: #fafafa;
    border-radius: 8px;
}

