.container{
    display: flex;
    /* background-color: #eef2f5; */
    background-color: #f1f1f1;
}

.sectionContent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 2em;
}

.mainContent{
    display: flex;
    max-height: 85vh;
    min-height: 85vh;
    width: 100%;
    /* background: blueviolet; */
    border-radius: 8px;
}

