.containerView{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #ffffff 30%, #6d6d6d62 100%);
}