@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.sideNav {
    display: flex;
    flex-direction: column;
    width: 4vw;
    height: 100vh;
    padding-top: 1em;
    background-color: #1f1f1f;
}

.buttonNav {
    display: flex;
    align-items: center;
    width: 80%;
    height: 45px;
    border: none;
    margin: 1em auto;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
}

.selected{
    background-color: #34ccf7;
    color: #000;
}

.selected .svg{
    filter: none;
}

.buttonNav:hover {
    background-color: #34ccf7;
    color: #000;
}

.buttonNav:hover .svg {
    filter: none;
}

.svg {
    width: 30px;
    filter: brightness(0) invert(1);
}

.buttonNav:nth-child(3) .svg {
    padding-left: 5px;
}

.buttonNav:last-child .svg {
    padding-left: 5px;
}