.container-fluid .contenedor{
  border-radius: 50px;
  padding-top: 20px;
}

.detailContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #e5e7eb;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
}

.productImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 2rem;
}

.productInfo {
  flex: 1;
  margin-left: 2rem;
  font-family: "Public Sans", sans-serif;
}

.productTittle {
  font-size: 35px;
  font-family: "Public Sans", sans-serif;
  margin-bottom: 5px;
}

.productPrice {
  font-size: 25px;
  margin-bottom: 1px;
}

.productDescription {
  font-size: 1.2rem;
  font-family: "Public Sans", sans-serif;
  color: #747172;
  padding-top: 5px;

}
.divButtonCart{
  position: relative;
}
.buttonCart {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 20px;
  height: 50px;
  font-size: 20px;
}
@media screen and (max-width: 744px) {
  .buttonCart{
    height: 40px;
    font-size: 15px;
  }
}

.buttonCart:hover {
  opacity: 0.7;
}

.iconPlus{
  position: absolute;
  left: 0;
  margin-left: 20px;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.productPrice {
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #2563eb;
  color: white;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

}

.productSpecs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-left: 7px;
}
.contenedor{
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100% auto;
  margin-right: 30px;
  margin-left: 30px;
}

.productSpecs {
  font-size: 1rem;
  padding-left: 20px;

}

.productSpec strong {
  font-weight: bold;
  padding-left: 2px;
}
.productSpec{
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 1.1rem;
}
.circleList {
  list-style-type: disc; /* Establecer el tipo de marcador de lista como puntos */
}


.contenedorCarousel {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección a columna para dispositivos móviles */
  justify-content: space-between;
}
.contenedorGallery {
  width: 50vw;
}

@media screen and (max-width: 744) {
  .contenedorGallery{
      width: 100vw;
  }
}
.productInfo hr{
  border: none; 
  border-top: 1px solid #e5e7eb;
}

.containerSpecs{
  padding-top: 15px;
}

@media screen and (max-width: 744px) {
  .divButtonCart{
    margin-right: 20px;
  }
}
