.container-fluid .contenedor{
  border-radius: 50px;
  padding-top: 20px;
}


.detailContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: fafafa;
  border: 1px solid rgba(128, 128, 128, 0.959);
}

.productImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 2rem;
}

.productInfo {
  flex: 1;
  margin-left: 2rem;
  font-family: "Public Sans", sans-serif;
}

.productTittle {
  font-size: 35px;
  font-family: "Public Sans", sans-serif;
  margin-bottom: 15px;
  
}

.productPrice {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1px;
}

.productDescription {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: "Public Sans", sans-serif;
  color: #747172;
}
.buttonCart {
  display: flex;
  width: 100%;
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center; 

}
.buttonCart:hover {
  background-color: #5184f1;
}