.detailContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;
}

.productImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 2rem;
}

.productInfo {
  flex: 1;
  margin-left: 2rem;
  font-family: "Public Sans", sans-serif;
}

.productTittle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Public Sans", sans-serif;
}

.productPrice {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}