.listUL {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  padding: 15px;
}
.listLi {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom-width: 1px;
}
.divProduct {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  line-height: inherit;
}
.detailProductFirstSection {
  position: absolute;
  z-index: 40;
  margin-top: -0.5rem;
  margin-left: 55px;
}
.removeProduct {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
  cursor: pointer;
  background-image: none;
  display: flex;
  height: 17px;
  width: 17px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
  box-sizing: border-box;
}
.divImageProduct {
  position: relative;
  height: 4rem;
  width: 4rem;
  border-radius: 0.375rem;
  border-width: 1px;
}
.imgProduct {
  display: block;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: #e5e7eb;
  border-radius: 7px;
}
.containerProduct {
  background-color: aqua;
}
.containerItem {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.containerItem hr {
  border: none;
  border-top: 1px solid #e5e7eb;
}
.detailProduct {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 0 solid #e5e7eb;
  align-items: start;
}
.detailProduct span {
  line-height: 1.25;
  font-size: 1rem;
  margin-left: 2px;
  margin-top: 10px;
  font-weight: 600;
}
.detailProduct p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.priceProduct {
  display: flex;
  height: 4rem;
  flex-direction: column;
  justify-content: space-between;
}
.priceProduct p {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.divCounterProduct {
  margin-left: auto;
  display: flex;
  height: 2.25rem;
  flex-direction: row;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  align-items: center;
}
.buttonNegative {
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
  display: flex;
  height: 100%;
  min-width: 36px;
  max-width: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-property: all;
  transition-duration: 0.2s;
  border: none;
  border: 1px solid #e5e7eb;
}

.iconNegative {
  height: 1rem;
  width: 1rem;
}
.counterProduct {
  margin: 0;
  width: 1.5rem;
  text-align: center;
}
.counterProduct span {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.buttonPlus {
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  height: 100%;
  min-width: 36px;
  max-width: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-property: all;
  transition-duration: 0.2s;
  border: none;
  border: 1px solid #e5e7eb;
}
.iconPlus {
  height: 1rem; 
  width: 1rem; 
}
