.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.h1 {
    font-family: "Outfit", sans-serif;
    color: #1f1f1f;
    font-size: 2em;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.section {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1em;
    border-radius: 12px;
    flex-grow: 1;
    padding-right: 0;
    margin-right: 1em;
    margin-bottom: 2em;
}

.productContainer,
.soldContainer,
.disabledContainer,
.customersContainer,
.adminContainer,
.blockContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 150px;
    width: 150px;
    flex-grow: 1;
    margin: 0 1em;
    margin-left: 0;
    border-radius: 8px;
    padding: .5em;
}

.productContainer {
    background-color: #B784B7;
}

.soldContainer {
    background-color: #4CCD99;
}

.disabledContainer {
    background-color: #7E6363;
}

.customersContainer{
    background-color: #EEE4B1;
}

.adminContainer{
    background-color: #40679E;
}

.blockContainer{
    background-color: #B47B84;
}

.productContent,
.soldContent,
.disabledContent,
.customersContent,
.adminContent,
.blockContent {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.productContent {
    background-color: #8E7AB5;
}

.soldContent {
    background-color: #007F73;
}

.disabledContent {
    background-color: #503C3C;
}

.customersContent{
    background-color: #8C6A5D;
}

.adminContent{
    background-color: #1B3C73;
}

.blockContent{
    background-color: #944E63;
}

.svg {
    margin: 0 auto;
    object-fit: contain;
    width: 30px;
    filter: brightness(0) invert(1);
    /* background-color: white; */
}

.h2 {
    margin: 0;
    margin-top: .5em;
    color: #1f1f1f;
}

.p {
    margin: 0;
    margin-top: .2em;
    font-family: "Outfit", sans-serif;
}