.container{
    display: flex;
    align-items: end;
    height: 300px;
    min-width: 300px;
    border: 1px solid #7471723a;
    background-color: #fff;
    margin: 1em;
    border-radius: 8px;
    animation: scroll 80s linear infinite;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    color: #000;
    text-decoration: none;
    float: left;
}

.container:hover {
    border-color: #2563eb;
}


.img{
    object-fit: contain;
    width: 300px;
    height: 100%;
    transition: .5s;
}

.info {
    display: flex;
    background-color: #2563eb;
    position: absolute;
    border: 1px solid #7471723a;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1em;
    max-width: 270px; /* Limita el ancho máximo */
}

.button {
    border: none;
    border-radius: 30px;
    margin: 5px;
    padding: 7px;
    background-color: #2563eb;
    color: #fff;
    cursor: pointer;
}

.p {
    font-size: .7em;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

@media screen and (min-width: 768px){
    .container:hover .img{
        transition: .5s;
        transform: scale(1.05);
    }
}