.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 65vh;
    background-color: transparent;
    border: 5px solid;
    border-radius: 30px;
    border-color:  rgb(8, 2, 31);
}