.container{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 40%;
    align-items: center;
    justify-content: center;

}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    display:flex;
    justify-content: center;
}