.group {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.input {
    height: 35px;
    width: 100%;
    padding-left: 1em;
    border: 1px solid #7471723a;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: #747172;
    transition: .3s ease;
}

.input::placeholder {
    color: #747172;
}

.input:focus,
.input:hover {
    outline: none;
}

.icon {
    position: absolute;
    right: 0;
    fill: #000;
    width: 1rem;
    height: 1rem;
    margin-right: 1em;
}
