.container{
    display: flex;
    flex-direction: column;
    
}

.mainContent{
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.paginated{
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.mobileContent{
    display: none;
}

@media screen and (max-width: 768px) {
    .mainContent{
        display: none;
    }

    .mobileContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}