.container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    background-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: #181515b9 0 3px 8px;
}

.title {
    font-family: "Public Sans", sans-serif;
    width: 30vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: white;
}

.hr {
    width: 2vw;
    margin-top: 0px;
    border: none;
    border-top: 3.5px solid rgb(255, 252, 252);
}

.forgottpassword {
    color: #ffffff;
    font-size: larger;
    padding: 20px;
}

.form {
    font-family: "Public Sans", sans-serif;
    margin-top: 20px;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input {
    width: 20vw;
    height: 3.5vh;
    border-radius: 10px;
}

.button {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 10px; /* Reducido para evitar que se salga del contenedor */
    width: 20vw; /* Ajusta el ancho para que se adapte al contenedor */
    height: 8vh;
    cursor: pointer;
}

/* Media Queries for Responsive Design */

@media only screen and (min-width: 280px) and (max-width: 768px) {
    .container,
    .title,
    .hr,
    .form 
    {
        width: 90vw;
    }
    .input{
        width: 70vw;
    }

    .button {
        width: 50vw; /* Ajusta el ancho para pantallas más pequeñas */
    }
}
