.containerLoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 60vh;
    background-color: #000000;
    /* backdrop-filter: blur(3px); */
    /* bordes  */
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: #181515b9 0 3px 8px;

}


.title {
    font-family: "Public Sans", sans-serif;
    width: 30vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: white;

}

.hr {
    width: 2vw;
    margin-top: 0px;
    border: none;
    /* Elimina cualquier borde predeterminado */
    border-top: 3.5px solid rgb(255, 252, 252);
    /* Agrega un borde superior de 2px de grosor y sólido */

}


.form {

    font-family: "Public Sans", sans-serif;
    margin-top: 20px;
    /* background-color: blue; */
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.group {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 8vh;


}

.option {
    width: 60%;
    display: flex;
    align-items: center;
}

.input {
    width: 300px;
    height: 3.5vh;
    border-radius: 3px;
    border: none;
    padding-left: .5em;
    margin-left: .5em;
}

.containerButton {
    /* background-color: blue; */
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.button {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-color: #ffffff;
    border-radius: 30px;
    height: 5vh;
    cursor: pointer;
    padding: 0 1em;
}


.svg {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1)
}


.forgotpassword {

    color: #ffffff;
    font-size: small;
}



.error {
    /* background-color: aqua; */
    display: flex;

    width: 35vw;
    justify-content: center;
    align-items: flex-start;

    height: 3vh;
    font-size: 12px;

    color: white;
}

.social {
    cursor: pointer;
    background-color: black;
    border: none;
    outline: none;
    /* Esto elimina el contorno de enfoque cuando se presiona el botón */
    padding: 0;
    /* Esto elimina el relleno predeterminado del botón */
}


@media screen and (max-width: 768px) {
    .containerLoginForm{
        width: 70vw;
    }
}