@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Outfit:wght@100..900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
}

.filterContent {
  display: flex;
  align-items: center;
}

.h1 {
  font-family: "Outfit", sans-serif;
  color: #1f1f1f;
  font-size: 2em;
}

.select {
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 5px;
  margin-left: 2em;
  height: 2.2em;
}

.products {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.products::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scrollbar */
}

.products::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  /* Color del thumb */
  border-radius: 3px;
  /* Bordes redondeados del thumb */
}

.products::-webkit-scrollbar-thumb:hover {
  background-color: #1f1f1f;
  /* Color del thumb al pasar el cursor */
}

.products::-webkit-scrollbar-track {
  background-color: transparent;
  /* Color del track */
}