
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.productImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.25s ease-out;
}
.productImage:hover {
  transform: scale(1.05);
}
.modelName{
  font-size: 1px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0 auto 20px;
  text-align: center;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
 
}
.card:hover {
  border-color: #2563eb;
}

.price {
  font-size: 15px;
  font-weight: bold;
}

.addToCart{
  outline: 0;
  color: white;
  background-color: #2563eb;
  text-align: center;
  cursor: pointer;
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 20px; 
}

.addToCart:hover {
  opacity: 0.7;
}
.contenedor{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.tittle{
padding-bottom: 15px;
}
.linkDetail{
text-decoration: none;
color: inherit;
}
.info {
  display: flex;
  align-items: center;
  background-color: #2563eb;
  border: 1px solid #7471723a;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 1em;
  max-width: 270px; /* Limita el ancho máximo */
}

.button {
  border: none;
  border-radius: 30px;
  margin: 5px;
  padding: 5px;
  background-color: #2563eb;
  color: #fff;
  cursor: pointer;
}

.p {
  font-size: .7em;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}
