.container{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.products, .productsFirst {
    position: relative;
    max-width: 100%;
    height: auto;
    transition: .5s;
    margin: 1em;
}

.productOne, .productTwo, .productThree{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    margin-bottom: 2em;
    border-radius: 8px;
    border: 1px solid #7471723a;
    cursor: pointer;
}

.info{
    display: flex;
    position: relative;
    bottom: 20px;
    border: 1px solid #7471723a;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    /* backdrop-filter: blur(10px); */
    margin-left: 1em;
}

.button{
    border: none;
    border-radius: 30px;
    margin: 5px;
    padding: 7px;
    background-color: #2563eb;
    color: #fff;
    cursor: pointer;
}

.p{
    margin: 5px;
    padding: 5px;
}

@media screen and (min-width: 768px){
    .section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .productsFirst{
        width: 100%;
        height: 100%;
    }

    .productOne{
        width: 65%;
    }

    .leftContent{
        width: 33%;
    }
    
    .firstInfo{
        margin-left: 3em;
        bottom: 420px;
    }

    .productOne:hover,
    .productTwo:hover,
    .productThree:hover{
        border: 1px solid #2563eb;
    }

    .productOne:hover .productsFirst {
        transition: .5s;
        transform: scale(1.05);
    }

    .productTwo:hover .products {
        transition: .5s;
        transform: scale(1.05);
    }

    .productThree:hover .products {
        transition: .5s;
        transform: scale(1.05);
    }

}

@media screen and (max-width: 1024px){
    .firstInfo{
        margin-left: 1em;
        bottom: 20px;
    }
}
